parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property App\\\\Models\\\\Product\\:\\:\\$pivot\\.$#"
			count: 3
			path: app/Actions/CompleteOrder.php

		-
			message: "#^Part \\$product\\-\\>name \\(array\\) of encapsed string cannot be cast to string\\.$#"
			count: 1
			path: app/Actions/CompleteOrder.php

		-
			message: "#^Access to an undefined property App\\\\Exports\\\\Sheets\\\\CommentsSheet\\:\\:\\$orientation\\.$#"
			count: 1
			path: app/Exports/Sheets/CommentsSheet.php

		-
			message: "#^Access to an undefined property App\\\\Exports\\\\Sheets\\\\CustomersSheet\\:\\:\\$orientation\\.$#"
			count: 1
			path: app/Exports/Sheets/CustomersSheet.php

		-
			message: "#^Access to an undefined property App\\\\Exports\\\\Sheets\\\\OrdersSheet\\:\\:\\$orientation\\.$#"
			count: 1
			path: app/Exports/Sheets/OrdersSheet.php

		-
			message: "#^Access to an undefined property App\\\\Exports\\\\Sheets\\\\ProductsSheet\\:\\:\\$orientation\\.$#"
			count: 1
			path: app/Exports/Sheets/ProductsSheet.php

		-
			message: "#^Cannot call method getName\\(\\) on object\\|string\\.$#"
			count: 1
			path: app/Http/Livewire/Backend/BlockedPhoneNumbersPage.php

		-
			message: "#^Binary operation \"\\.\" between 'Edit Product ' and array results in an error\\.$#"
			count: 1
			path: app/Http/Livewire/Backend/ProductManagePage.php

		-
			message: "#^Cannot call method getName\\(\\) on object\\|string\\.$#"
			count: 1
			path: app/Http/Livewire/Backend/SettingsPage.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, null given\\.$#"
			count: 1
			path: app/Http/Livewire/Backend/SettingsPage.php

		-
			message: "#^Cannot call method getName\\(\\) on object\\|string\\.$#"
			count: 1
			path: app/Http/Livewire/Backend/StockChangePage.php

		-
			message: "#^Binary operation \"\\.\" between 'Edit Stock of ' and array results in an error\\.$#"
			count: 1
			path: app/Http/Livewire/Backend/StockEditPage.php

		-
			message: "#^Binary operation \"\\.\" between 'Stock of \\\\'' and array results in an error\\.$#"
			count: 1
			path: app/Http/Livewire/Backend/StockEditPage.php

		-
			message: "#^Cannot call method getName\\(\\) on object\\|string\\.$#"
			count: 1
			path: app/Http/Livewire/Backend/StockPage.php

		-
			message: "#^Cannot call method getName\\(\\) on object\\|string\\.$#"
			count: 1
			path: app/Http/Livewire/Backend/TextBlockListPage.php

		-
			message: "#^Call to an undefined method Monolog\\\\Handler\\\\HandlerInterface\\:\\:pushProcessor\\(\\)\\.$#"
			count: 1
			path: app/Logging/AddMetadata.php

		-
			message: "#^Call to an undefined method App\\\\Providers\\\\AppServiceProvider\\:\\:dropForeign\\(\\)\\.$#"
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$string of static method Illuminate\\\\Support\\\\Str\\:\\:of\\(\\) expects string, array given\\.$#"
			count: 1
			path: app/Repository/TextBlockRepository.php

		-
			message: "#^Call to an undefined static method App\\\\Util\\\\Carbon\\\\UserTimeZoneMixin\\:\\:this\\(\\)\\.$#"
			count: 1
			path: app/Util/Carbon/UserTimeZoneMixin.php

		-
			message: "#^Cannot call method getName\\(\\) on object\\|string\\.$#"
			count: 1
			path: app/View/Components/NavItem.php

