@import "custom";
@import "~bootstrap/scss/bootstrap";

.medium-container {
    @include make-container();
    max-width: 800px;
}

.small-container {
    @include make-container();
    max-width: 600px;
}

$fa-font-path: "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import 'node-snackbar/src/sass/snackbar';

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20px;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.cursor-pointer {
    cursor: pointer;
}
