@import "custom";
@import "~bootstrap/scss/bootstrap";

.brand {
    font-weight: bold;
    text-decoration: none;
}

.brand:hover {
    text-decoration: none;
}

.container-narrow {
    max-width: 800px;
}
